# .gcloudignore
.git/
.idea/
.vscode/

# Keep build/web but ignore large mobile builds
build/app/
build/ios/
build/android/
build/linux/
build/macos/
build/windows/
build/kotlin/
build/cloud_firestore/
build/firebase_auth/
build/firebase_core/
build/firebase_messaging/
build/firebase_storage/
build/geolocator_android/
build/google_generative_ai/
build/image_picker_android/
build/path_provider_android/
build/permission_handler_android/
build/shared_preferences_android/
build/url_launcher_android/

# Re-include web
!build/web/
!build/web/**
